* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}

#navigation {
	background-color: #808080;
}

#navigation ul, #sidebar-body ul {
	list-style-type: none;
}

#navigation ul li {
	display: inline-block;
	margin-left: 30px;
	padding: 10px;
}

#navigation ul li a, #sidebar-body ul li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#navigation ul li a:hover {
	color: #4dc3ff;
}

#sidebar-body ul li a:hover {
	color: #4169E1;
}

.active {
	color: #ccccb3;
}

#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	width: 80%;
	height: 800px;
}

#sidebar {
	float: left;
	width: 20%;
	height: 800px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	border-left: 1px solid #808080;
}

#content {
	float: left;
	width: 80%;
	height: 800px;
	border: 1px solid #808080;
}

#sidebar-title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #808080;
	padding-top: 13px;
	padding-left: 10px;
	font-size: 20px;
	background-color: #808080;
	color: white;
}

#sidebar-body {
	width: 100%;
	height: 750px;
	padding-top: 13px;
	padding-left: 10px;
	background-color: #A9A9A9;
}