* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif;
}

#navigation {
	background-color: #808080;
}

#navigation ul, #sidebar-body ul {
	list-style-type: none;
}

#navigation ul li {
	display: inline-block;
	margin-left: 30px;
	padding: 10px;
}

#navigation ul li a, #sidebar-body ul li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#navigation ul li a:hover {
	color: #4dc3ff;
}

#sidebar-body ul li a:hover {
	color: #4169E1;
	padding-left: 10px;
	transition: 0.5s;
}

.active {
	color: #ccccb3 !important;
}

#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	width: 80%;
	height: 800px;
}

#sidebar {
	float: left;
	width: 20%;
	height: 800px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	border-left: 1px solid #808080;
}

#content {
	float: left;
	width: 80%;
	height: 800px;
	border: 1px solid #808080;
}

#sidebar-title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #808080;
	padding-top: 13px;
	padding-left: 10px;
	font-size: 20px;
	background-color: #808080;
	color: white;
}

#sidebar-body {
	width: 100%;
	height: 750px;
	padding-top: 13px;
	padding-left: 10px;
	background-color: #A9A9A9;
}

#content-title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #808080;
	padding-top: 13px;
	padding-left: 10px;
	font-size: 20px;
	background-color: #A9A9A9;
	color: white;
}

#content-body {
	width: 100%;
	height: 750px;
	padding-top: 13px;
	padding-left: 10px;
}

#register-form {
	width: 99%;
	height: 500px;
	margin-top: 1%;
	padding-top: 10px;
}

#first-name, #last-name, #email, #password-box, #gender-box, #country-box, #button-box {
	margin-top: 5px;
}

#firstName, #lastName, #emailAddress, #password {
	width: 50%;
	padding: 5px;
	outline: none;
}

#register-button, #login-button {
	padding: 8px;
	background-color: white;
	outline: none;
}

#register-button:hover, #login-button:hover {
	color: white;
	background-color: #4dc3ff;
	transition: 0.3s;
}

#home-data {
	width: 99%;
	height: 500px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #808080;
}

#home-data-one, #home-data-two {
	width: 50%;
	height: 480px;
	padding: 10px;
	float: left;
	border: 1px solid #808080;
}

#posts-content, #contact-data, #users-content {
	margin-top: 10px;
}

#contact-name, #contact-email, #contact-message, #contact-button {
	margin-top: 10px;
}

#contactName, #contactEmail, #contactMessage {
	width: 50%;
	padding: 10px;
	outline: none;
}

#contactButton {
	padding: 10px;
	outline: none;
	background-color: white;
}

#contactButton:hover {
	background-color: #4dc3ff;
	color: white;
}

.rowStyle:hover {
	color: white;
	background-color: #A9A9A9;
}