<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vue | Contact</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>

		<div id="navigation">
			<ul>
				<nav-links
					v-for="link in links"
					v-bind:key="link.id"
					v-bind:text="link.text"
					v-bind:url="link.url"
				></nav-links>
			</ul>
		</div>

		<div id="container">
			<div id="sidebar">
				<div id="sidebar-title">
					<p>Sidebar content</p>
				</div>
				<div id="sidebar-body">
					<ul>
						<sidebar-links
							v-for="link in links"
							v-bind:key="link.id"
							v-bind:text="link.text"
							v-bind:url="link.url"
							v-bind:target="link.target"
						></sidebar-links>
						<clear-session></clear-session> 
					</ul>
				</div>
			</div>
			<div id="content">
				<div id="content-title">
					<p>Main content</p>
				</div>
				<div id="content-body">
					<div>
						<strong>Contact page</strong>
					</div>
					<div id="contact-data">
						<div id="contact-name">
							<p><label for="contactName"><font color="red">*</font>Name:</label></p>
							<input v-model="contactName" type="text" id="contactName" placeholder="Your Name..." autocomplete="off">
							<p>Result: <font color="green">{{ contactName | capitalize }}</font></p> 
						</div>
						<div id="contact-email">
							<p><label for="contactEmail"><font color="red">*</font>Email:</label></p>
							<input v-model="contactEmail" type="email" id="contactEmail" placeholder="Your email..." autocomplete="off">
							<p>Result: <font color="green">{{ contactEmail }}</font></p>
						</div>
						<div id="contact-message">
							<p><label for="contactMessage"><font color="red">*</font>Message:</label></p>
							<textarea v-model="contactMessage" id="contactMessage" placeholder="Your Message..." autocomplete="off" rows="10"></textarea>
							<p>Result: <font color="green">{{ contactMessage }}</font></p>
						</div>
						<div id="contact-button">
							<button id="contactButton" v-on:click="validateContactForm">SEND</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>
		<script src="js/contact.js"></script>
	</body>
</html>