<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vue | Posts</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>

		<div id="navigation">
			<ul>
				<nav-links
					v-for="link in links"
					v-bind:key="link.id"
					v-bind:text="link.text"
					v-bind:url="link.url"
				></nav-links>
			</ul>
		</div>

		<div id="container">
			<div id="sidebar">
				<div id="sidebar-title">
					<p>Sidebar content</p>
				</div>
				<div id="sidebar-body">
					<ul>
						<sidebar-links
							v-for="link in links"
							v-bind:key="link.id"
							v-bind:text="link.text"
							v-bind:url="link.url"
							v-bind:target="link.target"
						></sidebar-links>
						<clear-session></clear-session>
					</ul>
				</div>
			</div>
			<div id="content">
				<div id="content-title">
					<p>Main content</p>
				</div>
				<div id="content-body">
					<div>
						<strong>Posts</strong>
					</div>
					<div id="posts-content">
						<table id="post-table">
							<thead>
								<table-heading></table-heading>
							</thead>
							<tbody>
								<post-row
									v-for="post in posts"
									v-bind:key="post.id"
									v-bind:title="post.title"
									v-bind:content="post.content"
									v-bind:author="post.author"
									v-bind:likes="post.likes"
									v-bind:comments="post.comments"
									v-bind:created="post.created"
								></post-row>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>
		<script src="js/posts.js"></script>
	</body>
</html>